@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.span-x {
    font-size: 15px;
    font-weight: 200px;
}
.hr {
    content: '';
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: 20px;
}
.wrapper { 
    width: 1280px;
    margin: 50px auto;
    min-height: 1000%;
    height: auto;
}

header{
    position: relative;
}
header .logo {
    font-weight: 600;
    font-size: 20px;
}
header .presentation {
    margin: 50px 0;
    background: url('../public/img/bg.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
}
header .presentation::after {
    content: 'The best products for your home';
    position: absolute;
    top: 114px;
    left: 10%;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
header .presentation::before {
    content: 'By low prices';
    position: absolute;
    top: 270px;
    left: 10%;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}
header ul.nav {
    float: right;
    list-style: none;
}
header ul.nav li {
   display: inline;
   margin-left: 25px;
   cursor: pointer;
   transition: 500ms ease;
}
header ul.nav li:hover {
    font-size: 19px;
}
header .shop-cart .empty {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
header .shop-cart .deleteIcon {
    position: absolute;
    top: 30%;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #ca5252;
    transition: transform, color 500ms ease;
}
header .shop-cart .deleteIcon:hover {
    color: green;
    transform: scale(1.5);
}
header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}
header .shop-cart h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
header .shop-cart .item b {
    color: #797979;
    font-weight: 600px;
}
header .shop-cart .item img {
    width: 70px;
    height: 60px;
    float: left;
    margin-right: 20px;
}
.link {
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-weight: 600;
}
.shop-cart-btn {
    cursor: pointer;
    position: absolute;
    transition: color, transform 500ms ease;
    top: 0;
    right: 18%;
    font-size: 20px;
}
.shop-cart-btn:hover,
.shop-cart-btn.active {
    color: #dc3d3d;
    transform: scale(1.5);
}
.shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    z-index: 23;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    padding: 10px 13px 0 20px;
}
.categories {
    text-align: center;
}
.categories div{
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 15px 25px 0;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 500ms ease;
}
.categories div:hover {
    background-color: silver;
    transform: scale(1.1)
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.8);
    z-index: 1000;
    overflow: hidden;
}

.full-item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

main {
    display: flex;
    width: 96%;
    flex-wrap: wrap;
}
main .item{
    width: 30%;
    min-height: 430px;
    margin: 0 0 50px 40px;
    background: #f5f5f5;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    border-radius: 10px;
    overflow: hidden;
}
main .item img, .full-item img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}
.full-item img {
    height: 400px;
}
main .item img:hover, .full-item img:hover {
    transform: scale(1.05);
}
main h2,  .full-item h2,
main p, .full-item p, 
main b, .full-item b {
    margin: 10px 20px;
    color: #333;
}
main b, .full-item b {
    color: #5fa36a;
}
main .price-and-plus,
.full-item .price-and-plus {
    display: flex;
    justify-content: space-between;
}
main .price-and-plus .add-to-cart ,
.full-item .add-to-cart,
.minusOrderCount, .plusOrderCount{
    width: 33px;
    height: 33px;
    background-color: #ca5252;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 35px;
    font-weight: 600;
    color: #fff;
    margin-right: 20px;
    transition: transform 500ms ease; 
}
main .price-and-plus .add-to-cart:hover,
.full-item .add-to-cart:hover,
.minusOrderCount:hover,
.plusOrderCount:hover {
    transform: scale(1.5) ;
}
.minusOrderCount, .plusOrderCount {
    margin: 0;
    position: absolute;
    right: 60px;
    top: 12px;
    transition: 200ms;
}
.plusOrderCount {
    right: 104px;
    background: rgb(21, 139, 21);
}
.plusOrderCount:hover, .minusOrderCount:hover {
    transform: scale(1.1);
}

.sum {
    margin-bottom: 14px;
    font-size: 20px;
}
.close-btn {
    float: right;
    font-size: 20px;
    transition: 500ms ease;
    cursor: pointer;
}
.close-btn:hover {
    color: #ca5252;
}

.Error-page, .About-page, .Contact-page {
    text-align: center;
    margin-top: 15%;
}
.Error-icon {
    font-size: 20px;
}
.Error-page h2 {
    font-size: 50px;
    font-weight: 600;
}
.Error-page h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.Error-page a, .About-page a, .Contact-page a {
    font-size: 20px;
    text-decoration: none;
    color: silver;
}
.abwrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}
.About-page {
    margin-top: 6%;
}
.Contact-page {
    margin-top: 30%;
    transform: translateY(-50%);
}
.About-page img {
    width: 330px;
    height: 330px;
    margin-right: 20px;
}
.Contact-page h2 div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(60, 171, 255);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.Contact-page h2 div:hover {
    background-color: rgb(17, 145, 243);
    border: 2px solid white;
}
.Contact-page img {
    width: 40px;
    height: 40px;
}
.categories .active {
    background-color: silver;
    transform: scale(1.1)
}
.pag-wrapper {
    width: 200px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.pag-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #ca5252;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.pag-wrapper div:hover {
    background-color: #ca5252;
    border: 2px solid white;
    color: white;
}
.activeDiv {
    background-color: #ca5252;
    border: 2px solid black;
    color: white;
}
@media screen and (max-width: 900px) {
    .wrapper {
        width: 1000px;
    }
    main {
        justify-content: center;
    }
    .shop-cart-btn {
        right:20%;
    }
}
@media screen and (max-width: 740px) {
    .wrapper {
        width: 720px;
    }
    main {
        justify-content: center;
    }
    main .item {
        width: 42%;
    }
    .shop-cart-btn {
        right: 30%;
    }
    .abwrapper {
        display: block;
        text-align: center  ;
    }
}
@media screen and (max-width: 430px) {
    .wrapper {
        width: 400px;
    }
    main {
        display: block;
    }
    main .item {
        width: 100%;
        margin: 0 0 50px 10px;
    }
    .shop-cart-btn {
        right: 50%;
    }
    .abwrapper {
        display: block;
        text-align: center  ;
    }
}